/* Try to win */
body, span, div, dt {
  font-family: Helvetica !important;
  font-weight: lighter !important;
}

/* Hide the left nav */
#mainbody {
  margin-left: 30px !important;
}
#nav {
  display: none !important;
}
#topLeftNavigation {
  left: 30px !important;
}

/* Make the top white, hide some buttons */
#mg-settings, #mg-more, .applogo, .trans-strip.goog-inline-block {
  display: none !important;
}
#vr-nav {
  background: white !important;
  border: #f1f1f1 !important;
  margin: 0 !important;
}
#mainnav, .gb_Ee.gb_Ef {
  background: white !important;
}
#mainnav{
  border: none !important;
}

/* Button styles */
.goog-imageless-button, .navbuttonouter {
  background-image: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
  color: #444 !important;
  font-size: 13px !important;
  font-weight: lighter !important;
  font-size: 16px !important;
}
.goog-imageless-button:hover, .navbuttonouter:hover {
  color: #4485f4 !important;
}
.goog-imageless-button-checked {
  background-image: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background: none !important;
  border: none !important;
  color: #4485f4 !important;
  font-weight: normal !important;
}

/* Top date column style */
.date-top {
  font-size: 16px !important;
}
.wk-today {
  color: #4485f4 !important;
}
.wk-dayname, th {
  font-size: 14px !important;
}

/* Now marker */
.tg-nowmarker {
  border-color: #4485f4 !important;
}
.tg-nowptr {
  height: 0px  !important;
}

/* Don't highlight today, grey out the weekends */
.wk-full-mode .wk-today, .wk-full-mode .wk-tomorrow {
  border: none !important;
  background: transparent !important;
}
.tg-col.tg-weekend {
  background: #f5f5f5 !important;
}
.tg-today, .wk-allday .st-bg-today {
  background: transparent !important;
}

/* Event cells */
/* All day events, Individual events */
.rb-n, .dl.cbrd {
  padding: 4px 0 !important;
  border-color: transparent !important;
}

/* Individual event text, all-day event text*/
.chip dt, .st-c-pos {
  font-size: 12px !important;
}

/* Individual event name, all-day event name */
.cbrdcc, .st-c-pos {
  font-weight: bold !important;
}

/* Fix table spacings */

/* Between the all-day and rest */
#scrolltimedeventswk {
  margin-top: -6px !important;
}
.wk-allday .st-grid {
  padding: 0 !important;
}

/* Gutter times */
.wk-scrolltimedevents {
}

/* Vertical hour lines */
.tg-hourmarkers {}

/*.tg-gutter {
  margin-right: 0 !important;
}

.tg-gutter > .chip {
  margin: 0 !important;
  left: 0 !important;
}

.tg-col-overlaywrapper {
  position: inherit !important;
}*/

/* Notes on how the DOM is set up:
 - #topcontainerwk is the column name and all-day event section
 - #topcontainerBorderwk is the border in between
 - #scrolltimedeventswk is the individual events section
   - this has 2 rows. First row is the "table settings", like the
     gutter, the hour markers, cell sizes
*/
