/* Try to win */
body, span, div, dt {
  font-family: Roboto, Helvetica !important;
  font-weight: lighter !important;
}

#mainbody {
  margin-left: 30px !important;
}

/* Hide the left nav but move the create button up*/
#createEventButtonContainer {
  position: absolute;
  top: -50px !important;
}

#dp_h, #clst_my, #clst_fav {
  display: none;
}

/* Make the top white, hide some buttons */
#mg-settings, #mg-more, .applogo, .trans-strip.goog-inline-block {
  display: none !important;
}
#vr-nav {
  background: white !important;
  border: #f1f1f1 !important;
  margin: 0 !important;
}
#mainnav, .gb_Ee.gb_Ef {
  background: white !important;
}
#mainnav{
  border: none !important;
}

/* Button styles */
#mainnav .goog-imageless-button, .navbuttonouter {
  background-image: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
  color: #444 !important;
  font-size: 13px !important;
  font-weight: lighter !important;
  font-size: 16px !important;
}
#mainnav  .goog-imageless-button:hover, .navbuttonouter:hover {
  color: #4485f4 !important;
}
#mainnav  .goog-imageless-button-checked {
  background-image: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background: none !important;
  border: none !important;
  color: #4485f4 !important;
  font-weight: normal !important;
}

/* Create event button */

/* Top date column style */
.date-top {
  font-size: 16px !important;
}
.wk-today {
  color: #4485f4 !important;
}
.wk-dayname, th {
  font-size: 14px !important;
}

/* Now marker */
.tg-nowmarker {
  border-color: #4485f4 !important;
}
.tg-nowptr {
  height: 0px  !important;
}

/* Don't highlight today, grey out the weekends */
.wk-full-mode .wk-today, .wk-full-mode .wk-tomorrow {
  border: none !important;
  background: transparent !important;
}
.tg-col.tg-weekend {
  background: #f5f5f5 !important;
}
.tg-today, .wk-allday .st-bg-today {
  background: transparent !important;
}

/* Event cells */
/* Notes on how the DOM is set up:
 - #topcontainerwk is the column name and all-day event section
 - #topcontainerBorderwk is the border in between
 - #scrolltimedeventswk is the individual events section
   - this has 2 rows. First row is the "table settings", like the
     gutter, the hour markers, cell sizes.
*/

/* All day events */
.rb-n {
  padding: 4px 0 !important;
  border: none !important;
}

/* Individual events only have a thick left border */
.mask-left {
  border-left-width: 0px !important;
}
.cbrd, .mask-right {
  border-color: transparent !important;
}

/* Individual event text, all-day event text*/
.chip dt, .st-c-pos {
  font-size: 12px !important;
}

/* Individual event name, all-day event name */
.cbrdcc, .st-c-pos, .evt-lk {
  font-weight: bold !important;
}

/* Between the all-day and rest */
#scrolltimedeventswk {
  margin-top: -6px !important;
}
.wk-allday .st-grid {
  padding: 0 !important;
}

/* Gutter times */
.wk-scrolltimedevents {
}

/* Vertical hour lines */
.tg-dualmarker, .tg-dualmarker60 {
  border-bottom: none !important;
  border-top: 1px solid #e6e5e6 !important;
}

/* Essentially the chip width? */
.tg-gutter {
  margin-right: 0 !important;
}
