/* We're trying to win with these styles, and because of specificity we might not,
so put !important on everything JUST IN CASE.
*/
body, span, div, dt {
  font-family: Roboto, Helvetica -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400 !important;
}

#mainbody {
  margin-left: 5px !important;
  padding-top: 0 !important;
}

#mainbody.expanded {
  margin-left: 184px !important;
}

/* Make the top white, hide some buttons */
#mg-settings, #mg-more, .applogo, .trans-strip.goog-inline-block {
  display: none !important;
}
#vr-nav {
  background: white !important;
  border: #f1f1f1 !important;
  margin: 0 !important;
}
#mainnav, .gb_Ee.gb_Ef {
  background: white !important;
}
#mainnav{
  border: none !important;
}
#calcontent {
  padding-top: 10px !important;
}
/* Button styles */
#mainnav .goog-imageless-button, .navbuttonouter {
  background-image: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
  color: #444 !important;
  font-size: 13px !important;
  font-weight: normal !important;
  font-size: 16px !important;
}
#mainnav  .goog-imageless-button:hover, .navbuttonouter:hover {
  color: #4485f4 !important;
}
#mainnav  .goog-imageless-button-checked {
  background-image: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background: none !important;
  border: none !important;
  color: #4485f4 !important;
  font-weight: normal !important;
}
#vr-nav {
  margin-left: 30px !important;
}
#topLeftNavigation {
  left: 140px !important;
}
/* Create event button */
#createEventButtonContainer {
  position: absolute;
  top: -47px !important;
  left: 40px;
  width: auto !important;
}

#createEventButtonContainer .goog-imageless-button-content,
#createEventButtonContainer .goog-imageless-button {
  background: #F44336 !important;
  background-image: none !important;
  text-shadow: none !important;
  font-weight: bold !important;
  font-size: 12px !important;
  border: none !important;
}

#createEventButtonContainer .goog-imageless-button-hover {
  border: none !important;
}

/* Top date column style */
.date-top {
  font-size: 16px !important;
}
.wk-today {
  color: #4485f4 !important;
}
.wk-dayname, th {
  font-size: 14px !important;
}
.st-bg-all, .st-bg {
  border-color: #efefef !important;
}

/* Now marker */
/*.tg-nowmarker {
  border-color: #4485f4 !important;
}*/
.tg-nowptr {
  height: 0px  !important;
}

/* Don't highlight today, grey out the weekends */
.wk-full-mode .wk-today, .wk-full-mode .wk-tomorrow {
  border: none !important;
  background: transparent !important;
}
.tg-col.tg-weekend {
  background: #f5f5f5 !important;
}
.tg-today, .wk-allday .st-bg-today {
  background: transparent !important;
}

/* Event cells */
/* Notes on how the DOM is set up:
 - #topcontainerwk is the column name and all-day event section
 - #topcontainerBorderwk is the border in between
 - #scrolltimedeventswk is the individual events section
   - this has 2 rows. First row is the "table settings", like the
     gutter, the hour markers, cell sizes.
*/

/* All day events */
.rb-n {
  padding: 4px 0 !important;
  border: none !important;
}

/* Multi-week all day event arrow */
.st-ad-ml, .st-ad-mr {
  border-color: white !important;
}
.st-ad-ml2 {
  border-width: 10px 6px 14px 0 !important;
}

.st-ad-mr2 {
  border-width: 10px 0 14px 6px !important;
}

/* Individual events only have a thick left border */
.mask-left {
  border-left-width: 0px !important;
}
.cbrd, .mask-right {
  border-color: transparent !important;
}

/* Individual event text, all-day event text*/
.chip dt, .st-c-pos {
  font-size: 12px !important;
}

/* Individual event name, all-day event name */
.cbrdcc, .st-c-pos, .evt-lk {
  font-weight: bold !important;
  line-height: 1.2 !important;
}

/* All-day event name */
.rb-n {
  padding-left: 6px !important
}

.chip:not(.chip-border) {
  left: 0 !important;
}

/* Lol i think this literally fixes a bug */
.chip-color-today {
  border-color: white !important;
}

/* Individual event time */
.chip-caption {
  font-size: 12px !important;
}
.ctdiv {
  max-height: inherit !important;
}

/* Nuke background stripes on imported calendar events */
.cro.cbrd, .rb-n {
  background-image: none !important
}

/* Between the all-day and rest */
#scrolltimedeventswk {
  margin-top: -6px !important;
}
.wk-allday .st-grid {
  padding: 0 !important;
}

/* Gutter times */
.tg-times-pri, .tg-time-pri, .tg-time-sec {
  border: none !important;
}

/* Vertical hour lines */
.tg-dualmarker, .tg-dualmarker60 {
  border-bottom: none !important;
  border-top: 1px solid #efefef !important;
}

.tg-col, .tg-col-today {
  border-left: 1px solid #efefef !important;
}

.wk-allday {
  border-color: #efefef !important;
}

/* Essentially the chip width? */
.tg-gutter {
  margin-right: 0 !important;
}

/*Popups */
.qab-container.gcal-popup, .bubble {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.4) !important;
  border: none !important;
}

.qab-container.gcal-popup .goog-inline-block.goog-imageless-button,
.bubble .goog-inline-block.jfk-button,
.neb-footer .goog-inline-block.jfk-button {
  border: none !important;
  background: #4285f4 !important;
  background-image: none !important;
  color: white !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  font-size: 12px !important;
  padding-top: 1px !important;
}

.bubble .goog-inline-block.delete-button,
.neb-footer .goog-inline-block.delete-button {
  background: transparent !important;
  color: #5a5a5a !important;
}

.qab-container.gcal-popup textarea {
  margin: 10px 0 !important;
}

/* Event dialog */
.neb-title {
  font-size: 18px !important;
  font-weight: bold !important;
}

.neb-when-label {
  display: none !important;
}

.neb-date {
  font-size: 14px !important;
}
.neb-header {
  margin-bottom: 10px !important;
}

.neb-data th div {
  color: #757575 !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}

.neb-actions-left {
  font-size: 12px !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}

/* Create/Edit event page */
.ep-ea-btn-wrapper:not(.ep-ea-back-btn):not(.ep-ea-print-btn):not(.action-btn-wrapper) .goog-imageless-button-content,
.ep-ea-btn-wrapper:not(.ep-ea-back-btn):not(.ep-ea-print-btn):not(.action-btn-wrapper) .goog-imageless-button {
  background-color: transparent !important;
  color: #5a5a5a !important;
  background-image: none !important;
  text-shadow: none !important;
  font-weight: bold !important;
  font-size: 12px !important;
  border: none !important;
  text-transform: uppercase !important;
}

.action-btn-wrapper.ep-ea-btn-wrapper .goog-imageless-button-content,
.action-btn-wrapper.ep-ea-btn-wrapper .goog-imageless-button {
  background-color: #F44336 !important;
  color: white !important;
  background-image: none !important;
  text-shadow: none !important;
  font-weight: bold !important;
  font-size: 12px !important;
  border: none !important;
  text-transform: uppercase !important;
}

.ep-ea-btn-wrapper.ep-ea-back-btn .goog-imageless-button,
.ep-ea-btn-wrapper.ep-ea-print-btn .goog-imageless-button {
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
}

/* Agenda view */
#lvHeader {
  background-color: white !important;
}

#lv_listview .lv-today .lv-datecell {
  background: transparent !important;
  border: 2px solid #4485f4 !important;
}

#lv_listview .lv-today .lv-datecell span {
  color: #4485f4 !important;
  font-weight: bold !important;
}

/* Month view */
.month-row .st-dtitle-today {
  background: transparent !important;
  border-top: 2px solid #4485f4 !important;
  border-left: 2px solid #4485f4 !important;
  border-right: 2px solid #4485f4 !important;
}
.month-row .st-dtitle-today span {
  color: #4485f4 !important;
  font-weight: bold !important;
}
.month-row .st-bg-today {
  background: transparent !important;
  border: 2px solid #4485f4 !important;
}
.month-row .st-dtitle-next {
  border-left: none !important;
}
.month-row .st-dtitle-down {
  border-top: 2px solid #4485f4 !important;
}
